<h1>Hello World</h1>
<tbody>
    {% for recipe in recipes %}
      <tr>
        <td>{{ recipe.title }}</td>
        <td>{{ recipe.category }}</td>
        <td>{{ recipe.kitchen }}</td>
        <td><a href="{{ recipe.link }}" target="_blank">Link</a></td>
        <td>
          <div class="checkbox-container">
            <input type="checkbox" id="testedCheckbox-{{ recipe.id }}" class="tested-checkbox" data-id="{{ recipe.id }}" {% if recipe.tested %}checked{% endif %}>
            <label for="testedCheckbox-{{ recipe.id }}"></label>
          </div>
        </td>
        <td>
          <span class="delete-icon" data-id="{{ recipe.id }}">×</span>
        </td>
        <td><a href="{% url 'recipe_detail' recipe.id %}">View</a></td> <!-- Add this line -->
      </tr>
    {% endfor %}
  </tbody>
  